################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedProgramming.Oop/.vs/AdvancedProgramming.Oop/v15
